<!doctype html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <title>Remote Debugger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app/css/bootstrap.css" />
    <link rel="stylesheet" href="app/css/bootstrap-navbar-fixed-only.css" />
    <link rel="stylesheet" href="app/css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="app/css/app.css"/>
</head>
<body ng-controller="AppCtrl">

    <div class="container">

        <h1>Kronosh Remote Debugger</h1>

        <form class="form-inline" ng-submit="debug()">
            <label>Ip Address:</label>
            <input type="text" ng-model="remoteConnection.IpAddress">
            <br />
            <label>Port:</label>
            <input type="text" ng-model="remoteConnection.Port">
            <input type="submit" value="Debug!" />
        </form>

    </div> <!-- /container -->

	<script src="app/lib/jquery-1.8.2.min.js"></script>
	<script src="app/lib/angular/angular.min.js"></script>
	<script src="app/lib/angular/angular-resource.min.js"></script>
	<script src="app/lib/modernizr-2.0.6.min.js"></script>
	<script src="app/lib/bootstrap.min.js"></script>
	<script src="app/js/services.js"></script>
	<script src="app/js/controllers.js"></script>
	<script src="app/js/filters.js"></script>
	<script src="app/js/directives.js"></script>
	<script src="app/js/models.js"></script>
	<script src="app/js/repositories.js"></script>
	<script src="app/js/localstorage.js"></script>

    <script  type="text/javascript">
        $('a, button').bind('touchend', function(e) {
            $(this).trigger('click');
            e.preventDefault();
        });
    </script>

</body>
</html>

